.profileCard{
    box-sizing: border-box;

    position: absolute;
    

    display: flex;
    flex-direction: row;

    padding-bottom: 10px;

    /* White */

    background: #FFFFFF;
    /* Stroke */

    border: 1px solid #E2E8F0;
    /* Shadow */

    box-shadow: 0px 8px 13px -3px rgba(0, 0, 0, 0.07);
    border-radius: 2px;
}

.coverContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 2px 2px 0px 0px;
}

.profilePicContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;
    width: 180px;
    height: 180px;

    background: rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(9px); 

    border: none;
    border-radius: 100px;

    /* z-index: 1; */
}

.dataContainer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coverPicture{
    width: 100%;
}

.profilePicture{
    border-radius: 100px;
}
@font-face {
    font-family: Satoshi;
    font-style: normal;
    font-weight: 400;
    src: url(../../../public/Satoshi-Variable.ttf);
  }
.username{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    margin-top: -20px;

    text-align: center;

    color: #1C2434;
}
.text1{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    margin-top: -10px;
    text-align: center;

    /* Text color */

    color: #64748B;
}
.userDataContainer{
    display: flex;

    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    /* White */

    background: #FFFFFF;
    /* Stroke */

    border: 0.8px solid #E2E8F0;
    /* Shadow */

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 5px;

}

.text3{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
            
    color: #1C2434;
}

.text4{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */

    color: #64748B;
}

.line{
    /* position: absolute;
    width: 20px;
    height: 0px;
    left: 891px;
    top: 638px; */

    /* Stroke */
    width: 20px;
    /* height: 20px; */

    border: 1px solid #E2E8F0;

    transform: rotate(90deg);
}

.text5{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    margin-top: 20px;

    /* Dark */

    color: #1C2434;
}

.text6{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    /* or 157% */

    margin-top: -5px;
    text-align: center;
    

    /* Text color */

    color: #64748B;
}

.socialBox{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
